.box-attack-1 {
	top: 60px;
	left: 475px;
}
.box-attack-2 {
	top: 117px;
	left: 455px;
}
.box-attack-3 {
	top: 171px;
	left: 455px;
}
.box-attack-4 {
	top: 226px;
	left: 455px;
}

/* second line borders */
.box-attack-5 {
	top: 279px;
	left: 455px;
}
.box-attack-6 {
	top: 335px;
	left: 455px;
}
/* ters line */
.box-attack-7 {
	top: 390px;
	left: 455px;
}
.box-attack-8 {
	top: 226px;
	left: 506px;
}
.box-attack-9 {
	top: 422px;
	left: 548px;
}
/* lst line */
.box-attack-10 {
	top: 226px;
	left: 590px;
}
.box-attack-11 {
	top: 226px;
	left: 670px;
}
