.box-attack-1 {
	top: 60px;
	left: 475px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}
.box-attack-2 {
	top: 117px;
	left: 455px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}
.box-attack-3 {
	top: 171px;
	left: 455px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}
.box-attack-4 {
	top: 226px;
	left: 455px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}

/* second line borders */
.box-attack-5 {
	top: 279px;
	left: 455px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}
.box-attack-6 {
	top: 335px;
	left: 455px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}
/* ters line */
.box-attack-7 {
	top: 390px;
	left: 455px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}
.box-attack-8 {
	top: 226px;
	left: 506px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}
.box-attack-9 {
	top: 422px;
	left: 548px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}
/* lst line */
.box-attack-10 {
	top: 226px;
	left: 590px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}
.box-attack-11 {
	top: 226px;
	left: 670px;
	background-image: url("https://static.www.nfl.com/image/private/t_thumb_squared/f_auto/league/m1fmyihulvtdiav4bwxm");
}
