/* first line */
.box-1 {
	top: 120px;
	left: 360px;
}
.box-2 {
	top: 180px;
	left: 360px;
}
.box-3 {
	top: 250px;
	left: 360px;
}
.box-4 {
	top: 320px;
	left: 360px;
}

/* second line borders */
.box-5 {
	top: 100px;
	left: 300px;
}
.box-6 {
	top: 350px;
	left: 300px;
}
/* ters line */
.box-7 {
	top: 164px;
	left: 260px;
}
.box-8 {
	top: 224px;
	left: 240px;
}
.box-9 {
	top: 280px;
	left: 260px;
}
/* lst line */
.box-10 {
	top: 170px;
	left: 180px;
}
.box-11 {
	top: 310px;
	left: 180px;
}
