.field-image {
	height: 529px;
	width: 900px;
	background-image: var(--field-american-football);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.box {
	position: absolute;
	/* background-color: brown; */
	color: var(--white-color);
	height: 60px;
	width: 60px;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.box > h5 {
	margin: 0;
	font-size: 0.8rem;
}

.team-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.team_info-container {
	color: var(--white-color);
}

.team_info-table {
	background-color: var(--white-color);
}

.team_info-table-img {
	height: 50px;
	width: 50px;
}
