.loading-container {
	background-color: var(--black-color);
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid var(--white-color);
	animation: prixClipFix 2s linear infinite;
}
.loader::after {
	inset: 8px;
	transform: rotate3d(90, 90, 0, 180deg);
	border-color: var(--red-color);
}
.loader-image {
	position: absolute;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.loader-image img {
	height: 250px;
}
.loader-image h3 {
	color: var(--white-color);
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	75%,
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
}
